{% extends "layout.html" %}
{% block body %}
<div id="all_time_orders"></div>
<div class="tooltip"></div>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script>
  // set the dimensions of the canvas
  var margin = {top: 50, right: 160, bottom: 100, left: 150};

  var width = 1600 - margin.left - margin.right,
      height = 750 - margin.top - margin.bottom;


  // set the ranges
  var x = d3.scale.ordinal().rangeRoundBands([0, width], .05);

  var y = d3.scale.linear().range([height, 0]);

  // define the axis

  var xAxis = d3.svg.axis()
      .scale(x)
      .orient("bottom")


  var yAxis = d3.svg.axis()
      .scale(y)
      .orient("left")
      .ticks(10);


  // add the SVG element
  var svg = d3.select("#all_time_orders").append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
    .append("g")
      .attr("transform",
            "translate(" + margin.left + "," + margin.top + ")");
  svg.append("rect")
      .attr("width", "100%")
      .attr("height", "100%")
      .attr("fill", "white");

  var data = {{ data.all_time_orders | safe }};

  // load the data

  data.forEach(function(d) {
      d.date = d.date;
      d.count = +d.count;
      d.jlist = d.jlist;
  });

  // scale the range of the data
  x.domain(data.map(function(d) { return d.date; }));
  y.domain([0, d3.max(data, function(d) { return d.count; })]);

  // add axis
  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis)
    .selectAll("text")
      .style("text-anchor", "end")
      .attr("dx", "-.8em")
      .attr("dy", "-.55em")
      .attr("transform", "rotate(-90)" );

  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 5)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("Hours of Work");


  // Add bar chart
  svg.selectAll("bar")
      .data(data)
    .enter().append("rect")
      .attr("class", "bar")
      .attr("x", function(d) { return x(d.date); })
      .attr("width", x.rangeBand())
      .attr("y", function(d) { return y(d.count); })
      .attr("height", function(d) { return height - y(d.count); })
      .on("mouseover", function() { tooltip3.style("display", "none"); }) //("display", null) to show tooltips
      .on("mouseout", function() { tooltip3.style("display", "none"); })
      .on("mousemove", function(d) {
        var xPosition = d3.mouse(this)[0] - width/2;
        var yPosition = d3.mouse(this)[1] - 50;
        tooltip3.attr("transform", "translate(" + xPosition + "," + yPosition + ")");
        tooltip3.select("text").text(d.jlist.toString());
      });

    var tooltip3 = svg.append("g")
      .attr("class", "tooltip3")
      .style("display", "none");

    tooltip3.append("rect")
      .attr("width", width)
      .attr("height", 20)
      .attr("fill", "white")
      .style("opacity", .9);

    tooltip3.append("text")
      .attr("x", width/2)
      .attr("dy", "1.2em")
      .style("text-anchor", "middle")
      .attr("font-size", "16px")
      .attr("font-weight", "bold");

    // title
    svg.append("text")
      .attr("x", (width / 2))
      .attr("y", 0 - (margin.top / 2))
      .attr("text-anchor", "middle")
      .style("font-size", "16px")
      .style("text-decoration", "underline")
      .text("Total Remaining Hours for Jobs Due per Week");
</script>
{% endblock %}
