{% extends "layout.html" %}
{% block body %}
<div id="graphDiv"></div>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script>
  var graphData = {{ data.chart_data | safe }}

  var margin = {top: 30, right: 50, bottom: 30, left: 50};
  var svgWidth = 600;
  var svgHeight = 270;
  var graphWidth = svgWidth - margin.left - margin.right;
  var graphHeight = svgHeight - margin.top - margin.bottom;

  var x = d3.time.scale().range([0, graphWidth]);
  var y = d3.scale.linear().range([graphHeight, 0]);

  var xAxis = d3.svg.axis().scale(x)
    .orient("bottom").ticks(12);
  var yAxis = d3.svg.axis().scale(y)
    .orient("left").ticks(5);

  var highLine = d3.svg.line()
    .x(function(d) { return x(d.date); })
    .y(function(d) { return y(d.price); });

</script>
{% for each in data %}
{{ each }}<br />
{% endfor %}
{% endblock %}
