{% extends "layout.html" %}
{% block body %}
<div id="graphDiv"></div>
<div class="tooltip"></div>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script>
  var graphData = {{ data.data | safe }};

  var margin = {top: 30, right: 50, bottom: 30, left: 50};
  var svgWidth = 1800;
  var svgHeight = 750;
  var graphWidth = svgWidth - margin.left - margin.right;
  var graphHeight = svgHeight - margin.top - margin.bottom;

  var parseDate = d3.time.format("%Y-%m-%d").parse;

  var x = d3.time.scale().range([0, graphWidth]);
  var y = d3.scale.linear().range([graphHeight, 0]);

  var xAxis = d3.svg.axis().scale(x)
    .orient("bottom").ticks(12);
  var yAxis = d3.svg.axis().scale(y)
    .orient("left").ticks(5);

  var priceLine = d3.svg.line()
    .x(function(d) { return x(d.date); })
    .y(function(d) { return y(d.price); });

  var svg = d3.select("#graphDiv")
    .append("svg")
      .attr("width", svgWidth)
      .attr("height", svgHeight)
    .append("g")
      .attr("transform",
      "translate(" + margin.left + "," + margin.top + ")")

  function drawGraph(data) {
    var ordersByMonth = d3.nest()
      .key(function(d) { return d.date.substring(0,7); })
      .rollup(function(v) { return d3.sum(v, function(d) { return d.price; }); })
      .entries(data);

    console.log(JSON.stringify(ordersByMonth));

    // For each row in the data, parse the date
    // and use + to make sure data is numerical
    data.forEach(function(d) {
      d.date = parseDate(d.date);
      d.price = +d.price;
      console.log(d.date, d.price)
    });
    // Scale the range of the data
    x.domain(d3.extent(data, function(d) { return d.date; }));
    y.domain([d3.min(data, function(d) {
      return Math.min(d.price) }),
      d3.max(data, function(d) {
      return Math.max(d.price) })]);
    // Add the priceLine as a green line
    svg.append("path")
      .style("stroke", "green")
      .style("fill", "none")
      .attr("class", "line")
      .attr("d", priceLine(data));
    // Add the X Axis
    svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + graphHeight + ")")
        .call(xAxis);
    // Add the Y Axis
    svg.append("g")
      .attr("class", "y axis")
      .call(yAxis);
    // Add the text for the "Price" line
    svg.append("text")
      .attr("transform", "translate("+(graphWidth+3)+","+y(data[data.length-1].price)+")")
      .attr("dy", ".35em")
      .attr("text-anchor", "start")
      .style("fill", "green")
      .text("Price");
    // add the dots with tooltips
    svg.selectAll("dot")
      .data(data)
      .enter().append("circle")
        .attr("r", 3)
        .attr("cx", function(d) { return x(d.date); })
        .attr("cy", function(d) { return y(d.price); })
        .on("mouseover", function(d) {
          div.transition()
            .duration(100)
            .style("opacity", .9);
          div.html(formatTime(d.date) + "<br/>" + d.close)
            .style("left", (d3.event.pageX) + "px")
            .style("top", (d3.event.pageY - 28) + "px");
        })
        .on("mouseout", function(d) {
          div.transition()
            .duration(100)
            .style("opacity", 0);
        });
  };
  drawGraph(graphData);
</script>
{% endblock %}
