{% extends "layout.html" %}
{% block body %}
<div id="osp"></div>
<div id="family"></div>
<div id="currency"></div>
<div class="tooltip"></div>
<div class="tooltip1"></div>
<div class="tooltip2"></div>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script>
  var graphData = {{ data.osp | safe }};

  var margin = {top: 50, right: 160, bottom: 100, left: 150};
  var svgWidth = 1500;
  var svgHeight = 750;
  var graphWidth = svgWidth - margin.left - margin.right;
  var graphHeight = svgHeight - margin.top - margin.bottom;

  var parseDate = d3.time.format("%Y-%m-%d").parse;
  var formatTime = d3.time.format("%B %Y");

  var x = d3.time.scale().range([0, graphWidth]);
  var y = d3.scale.linear().range([graphHeight, 0]);

  var xAxis = d3.svg.axis().scale(x)
    .orient("bottom").ticks(12);
  var yAxis = d3.svg.axis().scale(y)
    .orient("left")
    .ticks(10)
    .tickSize(-graphWidth, 0, 0)
    .tickFormat( function(d) { return d } );

  var priceLine = d3.svg.line()
    .x(function(d) { return x(d.date); })
    .y(function(d) { return y(d.price); });
  // Define the div for the tooltip
  var div = d3.select("body").append("div")
    .attr("class", "tooltip")
    .style("opacity", 0);

  var svg = d3.select("#osp")
    .append("svg")
      .attr("width", svgWidth)
      .attr("height", svgHeight)
    .append("g")
      .attr("transform",
      "translate(" + margin.left + "," + margin.top + ")")

  var formatDecimalComma = d3.format(",.2f"),
      formatMoney = function(d) { return "$" + formatDecimalComma(d); };


  function drawGraph(data) {
    var ordersByMonth = d3.nest()
      .key(function(d) { return d.date.substring(0,7); })
      .rollup(function(v) { return d3.sum(v, function(d) { return d.price; }); })
      .entries(data);

    console.log(JSON.stringify(ordersByMonth));
    data = ordersByMonth
    // For each row in the data, parse the date
    // and use + to make sure data is numerical
    data.forEach(function(d) {
      d.date = parseDate(d.key + "-01");
      d.price = +d.values;
    });
    // Scale the range of the data
    x.domain(d3.extent(data, function(d) { return d.date; }));
    y.domain([d3.min(data, function(d) {
      return 0 }),
      d3.max(data, function(d) {
      return Math.max(d.price) })]);
    // Add the priceLine as a green line
    svg.append("path")
      .style("stroke", "green")
      .style("fill", "none")
      .attr("class", "line")
      .attr("d", priceLine(data));
    // Add the X Axis
    svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + graphHeight + ")")
        .call(xAxis);

    // text label for the x axis
    svg.append("text")
      .attr("transform", "translate(" + (graphWidth/2) + " ," + (graphHeight + margin.top + 20) + ")")
      .style("text-anchor", "middle")
      .text("Date");

    // Add the Y Axis
    svg.append("g")
      .attr("class", "y axis")
      .call(yAxis);

    // text label for the y axis
    svg.append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 0 - margin.left)
      .attr("x",0 - (graphHeight / 2))
      .attr("dy", "1em")
      .style("text-anchor", "middle")
      .text("Total Value of Orders Entered");

    // title
    svg.append("text")
      .attr("x", (graphWidth / 2))
      .attr("y", 0 - (margin.top / 2))
      .attr("text-anchor", "middle")
      .style("font-size", "16px")
      .style("text-decoration", "underline")
      .text("Monthly Order Value vs Date Graph");

    // add the dots with tooltips
    svg.selectAll("dot")
      .data(data)
      .enter().append("circle")
        .attr("r", 3)
        .attr("cx", function(d) { return x(d.date); })
        .attr("cy", function(d) { return y(d.price); })
        .on("mouseover", function(d) {
          div.transition()
            .duration(100)
            .style("opacity", .9);
          div.html(formatTime(d.date) + "<br/>" + formatMoney(d.price))
            .style("left", (d3.event.pageX) + "px")
            .style("top", (d3.event.pageY - 42) + "px");
        })
        .on("mouseout", function(d) {
          div.transition()
            .duration(100)
            .style("opacity", 0);
        });
  };
  drawGraph(graphData);
</script>
<script>
  var margin = {top: 50, right: 160, bottom: 100, left: 150};

  var width = 1500 - margin.left - margin.right,
      height = 750 - margin.top - margin.bottom;

  var svg = d3.select("#family")
    .append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


  /* Data in strings like it would be if imported from a csv */

  var data = {{ data.family | safe }};

  var parse = d3.time.format("%Y-%m").parse;


  // Transpose the data into layers
  var dataset = d3.layout.stack()(["stepbox", "toolbox", "rack", "cabinets", "other", "0202"].map(function(fruit) {
    return data.map(function(d) {
      return {x: parse(d.year+'-'+d.month), y: +d[fruit]};
    });
  }));


  // Set x, y and colors
  var x = d3.scale.ordinal()
    .domain(dataset[0].map(function(d) { return d.x; }))
    .rangeRoundBands([10, width-10], 0.02);

  var y = d3.scale.linear()
    .domain([0, d3.max(dataset, function(d) {  return d3.max(d, function(d) { return d.y0 + d.y; });  })])
    .range([height, 0]);

  var colors = ["#1414EA", "#147FEA", "#14EAEA", "#C614EA", "#7FEA14", "#EAEA14"];


  // Define and draw axes
  var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left")
    .ticks(10)
    .tickSize(-width, 0, 0)
    .tickFormat( function(d) { return d } );

  var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom")
    .tickFormat(d3.time.format("%Y-%m"));

  svg.append("g")
    .attr("class", "y axis")
    .call(yAxis);

  svg.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + height + ")")
    .call(xAxis);


  // Create groups for each series, rects for each segment
  var groups = svg.selectAll("g.cost")
    .data(dataset)
    .enter().append("g")
    .attr("class", "cost")
    .style("fill", function(d, i) { return colors[i]; });

  var rect = groups.selectAll("rect")
    .data(function(d) { return d; })
    .enter()
    .append("rect")
    .attr("x", function(d) { return x(d.x); })
    .attr("y", function(d) { return y(d.y0 + d.y); })
    .attr("height", function(d) { return y(d.y0) - y(d.y0 + d.y); })
    .attr("width", x.rangeBand())
    .on("mouseover", function() { tooltip.style("display", null); })
    .on("mouseout", function() { tooltip.style("display", "none"); })
    .on("mousemove", function(d) {
      var xPosition = d3.mouse(this)[0] - 15;
      var yPosition = d3.mouse(this)[1] - 25;
      tooltip.attr("transform", "translate(" + xPosition + "," + yPosition + ")");
      tooltip.select("text").text(parseFloat(d.y).toFixed(2));
    });


  // Draw legend
  var legend = svg.selectAll(".legend")
    .data(colors)
    .enter().append("g")
    .attr("class", "legend")
    .attr("transform", function(d, i) { return "translate(30," + i * 19 + ")"; });

  legend.append("rect")
    .attr("x", width - 18)
    .attr("width", 18)
    .attr("height", 18)
    .style("fill", function(d, i) {return colors.slice().reverse()[i];});

  legend.append("text")
    .attr("x", width + 5)
    .attr("y", 9)
    .attr("dy", ".35em")
    .style("text-anchor", "start")
    .text(function(d, i) {
      switch (i) {
        case 0: return "0202";
        case 1: return "Other";
        case 2: return "Cabinets";
        case 3: return "Headache Rack";
        case 4: return "Toolbox";
        case 5: return "Stepbox";
      }
    });

  // Prep the tooltip bits, initial display is hidden
  var tooltip = svg.append("g")
    .attr("class", "tooltip1")
    .style("display", "none");

  tooltip.append("rect")
    .attr("width", 60)
    .attr("height", 20)
    .attr("fill", "white")
    .style("opacity", 0.5);

  tooltip.append("text")
    .attr("x", 30)
    .attr("dy", "1.2em")
    .style("text-anchor", "middle")
    .attr("font-size", "12px")
    .attr("font-weight", "bold");

  // text label for the x axis
  svg.append("text")
    .attr("transform", "translate(" + (width/2) + " ," + (height + margin.top + 20) + ")")
    .style("text-anchor", "middle")
    .text("Month");

  // text label for the y axis
  svg.append("text")
    .attr("transform", "rotate(-90)")
    .attr("y", 0 - margin.left)
    .attr("x",0 - (height / 2))
    .attr("dy", "1em")
    .style("text-anchor", "middle")
    .text("Value of Orders Shipped");

  // title
  svg.append("text")
    .attr("x", (width / 2))
    .attr("y", 0 - (margin.top / 2))
    .attr("text-anchor", "middle")
    .style("font-size", "16px")
    .style("text-decoration", "underline")
    .text("Monthly Value of Orders Shipped by Product Family");
</script>
<script>
  var margin = {top: 50, right: 160, bottom: 100, left: 150};

  var width = 1500 - margin.left - margin.right,
      height = 750 - margin.top - margin.bottom;

  var svg = d3.select("#currency")
    .append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


  /* Data in strings like it would be if imported from a csv */

  var data = {{ data.currency | safe }};

  var parse = d3.time.format("%Y-%m").parse;


  // Transpose the data into layers
  var dataset = d3.layout.stack()(["usd", "cad"].map(function(fruit) {
    return data.map(function(d) {
      return {x: parse(d.year+'-'+d.month), y: +d[fruit]};
    });
  }));


  // Set x, y and colors
  var x = d3.scale.ordinal()
    .domain(dataset[0].map(function(d) { return d.x; }))
    .rangeRoundBands([10, width-10], 0.02);

  var y = d3.scale.linear()
    .domain([0, d3.max(dataset, function(d) {  return d3.max(d, function(d) { return d.y0 + d.y; });  })])
    .range([height, 0]);

  var colors = ["#4286f4", "#f44141"];


  // Define and draw axes
  var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left")
    .ticks(10)
    .tickSize(-width, 0, 0)
    .tickFormat( function(d) { return d } );

  var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom")
    .tickFormat(d3.time.format("%Y-%m"));

  svg.append("g")
    .attr("class", "y axis")
    .call(yAxis);

  svg.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + height + ")")
    .call(xAxis);


  // Create groups for each series, rects for each segment
  var groups = svg.selectAll("g.cost")
    .data(dataset)
    .enter().append("g")
    .attr("class", "cost")
    .style("fill", function(d, i) { return colors[i]; });

  var rect = groups.selectAll("rect")
    .data(function(d) { return d; })
    .enter()
    .append("rect")
    .attr("x", function(d) { return x(d.x); })
    .attr("y", function(d) { return y(d.y0 + d.y); })
    .attr("height", function(d) { return y(d.y0) - y(d.y0 + d.y); })
    .attr("width", x.rangeBand())
    .on("mouseover", function() { tooltip2.style("display", null); })
    .on("mouseout", function() { tooltip2.style("display", "none"); })
    .on("mousemove", function(d) {
      var xPosition = d3.mouse(this)[0] - 15;
      var yPosition = d3.mouse(this)[1] - 25;
      tooltip2.attr("transform", "translate(" + xPosition + "," + yPosition + ")");
      tooltip2.select("text").text(parseFloat(d.y).toFixed(2));
    });


  // Draw legend
  var legend = svg.selectAll(".legend")
    .data(colors)
    .enter().append("g")
    .attr("class", "legend")
    .attr("transform", function(d, i) { return "translate(30," + i * 19 + ")"; });

  legend.append("rect")
    .attr("x", width - 18)
    .attr("width", 18)
    .attr("height", 18)
    .style("fill", function(d, i) {return colors.slice().reverse()[i];});

  legend.append("text")
    .attr("x", width + 5)
    .attr("y", 9)
    .attr("dy", ".35em")
    .style("text-anchor", "start")
    .text(function(d, i) {
      switch (i) {
        case 0: return "CAD Orders";
        case 1: return "USD Orders";
      }
    });

  // Prep the tooltip bits, initial display is hidden
  var tooltip2 = svg.append("g")
    .attr("class", "tooltip2")
    .style("display", "none");

  tooltip2.append("rect")
    .attr("width", 60)
    .attr("height", 20)
    .attr("fill", "white")
    .style("opacity", 0.5);

  tooltip2.append("text")
    .attr("x", 30)
    .attr("dy", "1.2em")
    .style("text-anchor", "middle")
    .attr("font-size", "12px")
    .attr("font-weight", "bold");

  // text label for the x axis
  svg.append("text")
    .attr("transform", "translate(" + (width/2) + " ," + (height + margin.top + 20) + ")")
    .style("text-anchor", "middle")
    .text("Month");

  // text label for the y axis
  svg.append("text")
    .attr("transform", "rotate(-90)")
    .attr("y", 0 - margin.left)
    .attr("x",0 - (height / 2))
    .attr("dy", "1em")
    .style("text-anchor", "middle")
    .text("Value of Orders Shipped");

  // title
  svg.append("text")
    .attr("x", (width / 2))
    .attr("y", 0 - (margin.top / 2))
    .attr("text-anchor", "middle")
    .style("font-size", "16px")
    .style("text-decoration", "underline")
    .text("CAD Value of Orders Shipped Monthly by Currency");
</script>
{% endblock %}
