{% extends "layout.html" %}
{% block body %}
<h2>{{ title }}</h2>
<!-- bar chart canvas element -->
<canvas id="myChart" width="1000" height="600"></canvas>
<div id="caption">
	{% for item in caption %}
		<p>{{ item }}</p>
	{% endfor %}
</div>
<div>
	<table id="table-id" border=1 frame=void rules=rows>
		{% for x in data %}
			<tr>{{x}}</tr>
		{% endfor %}
	</table>
</div>
<div>
	{% for item in body %}
		<p>{{ item }}</p>
	{% endfor %}
</div>
</div>
</body>
<script>
// Global parameters:
// do not resize the chart canvas when its container does (keep at 600x400px)
Chart.defaults.global.responsive = false;
 
// define the chart data
var chartData = {
  labels : [{% for item in labels %}
			 "{{item}}",
			{% endfor %}],
  datasets : [
	{% set colours1 = ['','rgba(193, 66, 66, 1.0)','rgba(193, 66, 66, 1.0)','rgba(63, 191, 63, 1.0)','rgba(63, 191, 63, 1.0)','rgba(63, 63, 191, 1.0)','rgba(63, 63, 191, 1.0)'] %}
	{% set colours2 = ['','rgba(193, 66, 66, 0.4)','rgba(193, 66, 66, 0.4)','rgba(63, 191, 63, 0.4)','rgba(63, 191, 63, 0.4)','rgba(63, 63, 191, 0.4)','rgba(63, 63, 191, 0.4)'] %}
	{% set fill_val = ['','false', 'true', 'false', 'true', 'false', 'true'] %}
	{% for data in values %}
	{
	  label: '{{legend[loop.index]}}',
	  fill: '{{fill_val[loop.index]}}',
	  lineTension: 0.1,
	  backgroundColor: '{{colours2[loop.index]}}',
	  borderColor: '{{colours1[loop.index]}}',
	  borderCapStyle: 'butt',
	  borderDash: [],
	  borderDashOffset: 0.0,
	  borderJoinStyle: 'miter',
	  pointBorderColor: '{{colours1[loop.index]}}',
	  pointBackgroundColor: "#fff",
	  pointBorderWidth: 1,
	  pointHoverRadius: 5,
	  pointHoverBackgroundColor: '{{colours1[loop.index]}}',
	  pointHoverBorderColor: 'rgba(220,220,220,1)',
	  pointHoverBorderWidth: 2,
	  pointRadius: 1,
	  pointHitRadius: 10,
	  data : [{% for item in data %}
				{{item}},
			  {% endfor %}],
	  spanGaps: false
  },
  {% endfor %}
  ]
}
 
// get chart canvas
var ctx = document.getElementById("myChart").getContext("2d");

// create the chart using the chart canvas
var myChart = new Chart(ctx, {
  type: 'line',
  data: chartData,
});
</script>
{% endblock %}