{% extends "layout.html" %}
{% block body %}
<h2>Customer Sales History</h2>
<div style="padding: 20px;">
  Customer: <input id="cust" type="text"><br />
  Length: <input id="length" type="text"><br />
  <button id="search">Go</button>
</div>
<script>
  $('#search').click(function() {
      var fixedData1 = 'http://192.168.2.81/reports/customer_sales/',
          fixedData2 = '/',
          userEntry1 = $('#cust').val(),
          userEntry2 = $('#length').val();

      if (!userEntry2) { userEntry2 = 30;}
      if (userEntry1) {
        window.location.href = fixedData1 + userEntry1 + fixedData2 + userEntry2;
      }
  });
</script>
{% endblock %}
