{% extends "layout.html" %}
{% block body %}
<h2>{{title}}</h2>
<form method="GET" class="no-print">
	Customer: <input name="customer">
	<button type="submit">Submit</button>
</form>
<table id="table-id" border=1 frame=void rules=rows>
	<thead>
		<tr>
	{% for header in head %}
			<th>{{header}}</th>
	{% endfor %}
	</thead>
{% for row in rows %}
	<tr>
    <td><a href="/mobile_traveler?job={{ row[i] }}">{{ row[0] }}</a></td>
    <td><a href="/customer_jobs?customer={{ row[i] }}">{{ row[1] }}</a></td>
    <td><a href="/po_viewer?po={{ row[i] }}">{{ row[2] }}</a></td>
    <td>{{ row[8] }}</td>
    <td><a href="/part_viewer?part={{ row[3] }}">{{ row[3] }}</a></td>
		<td>{{row[4]}}</td>
		<td>{{row[5]}}</td>
		<td>{{row[6]}}</td>
		<td>{{row[7]}}</td>
		<td>{{row[8]}}</td>
	</tr>
{% endfor %}
</table>
<div>
		{{body}}
</div>
<script>
	new Tablesort(document.getElementById('table-id'));
</script>
{% endblock %}
