{% extends "layout.html" %}
{% block body %}
	<ul>
		<li><a href="{{ url_for('pullfrom') }}">Pull From</a></li>
		<li><a href="{{ url_for('hotlist') }}">Hot List</a></li>
		<li><a href="{{ url_for('racklist') }}">Rack List</a></li>
		<li><a href="{{ url_for('pos') }}">Customer POs</a></li>
		<li><a href="{{ url_for('part_status') }}">Stock Status</a></li>
		<li><a href="{{ url_for('daily_progress') }}">Daily Shop Flow</a></li>
		<li><a href="{{ url_for('ship_list') }}">Shipping Checklist</a></li>
	</ul>
{% endblock %}
