{% extends "layout.html" %}
{% block body %}
	<h2>What's In Stock? - {{ category }}</h2>
	<form method="GET" class="no-print">
		<label for="category">Select Category:</label>
    <select id="category" name="category">
      <option value="all">All</option>
      <option value="toolbox">Toolboxes</option>
      <option value="camlock">- Camlock</option>
      <option value="thandle">- T-Handle</option>
      <option value="headache">Headache Racks</option>
      <option value="flatrack">- Flat</option>
      <option value="enclosed">- Enclosed</option>
      <option value="stepbox">Step Boxes</option>
      <option value="topstep">- Top Step</option>
      <option value="bigmouth">- Big Mouth</option>
      <option value="framebox">Frame Mounted Boxes</option>
      <!-- <option value="loadleveler">Load Levelers</option> -->
      <option value="fifthwheel">Fifth Wheel Ramps</option>
      <!-- <option value="other">Other</option> -->
    </select>
    <br />
    <button type="submit">Submit</button>
		<p>
			<input type="checkbox" id="shop_stock" name="shop_stock" value="shop_stock" checked />
			<label for="shop_stock">Show Shop Stock</label>
			<input type="checkbox" id="dc_stock" name="dc_stock" value="dc_stock" checked />
			<label for="dc_stock">Show Buffalo Stock</label>
		</p>
	</form>
  <hr class="no-print">
  <div>
    {% for category in parts %}
		<table id="category">
    <h3>{{ category["category"] }}</h3>
			{% for part in category["parts"] %}
			<tr>
	      <td class="part_title">{{ part.number }} - {{ part.description }}</td>
	      <td class="part_description shop">Shop Qty: <span class="quantity">{{ part.shop_stock }}</span></td>
				<td class="part_description dc">Buffalo Qty: <span class="quantity">{{ part.dc_stock }}</span></td>
			</tr>
			{% endfor %}
		</div>
    {% endfor %}
  </div>
	<script>
		$(document).ready(function() {
			//set initial state.
			$('#shop_stock').val(this.checked);
			$('#dc_stock').val(this.checked);

			$('#shop_stock').change(function() {
				if(! this.checked) {
					$(".shop").hide()
					$(".dc > span").each(function( index ) {
						if (! $(this).text() > 0) {
							$(this).parent().parent().hide()
						}
					});
				} else {
					$("*").show()
					if(! $('#dc_stock').is(":checked")) {
						$(".dc").hide()
					}
					$(".shop > span").each(function( index ) {
						if (! $(this).text() > 0) {
							$(this).parent().parent().hide()
						}
					});
				}
			});
			$('#dc_stock').change(function() {
				if(! this.checked) {
					$(".dc").hide()
					$(".shop > span").each(function( index ) {
						if (! $(this).text() > 0) {
							$(this).parent().parent().hide()
						}
					});
				} else {
					$("*").show()
					if(! $('#shop_stock').is(":checked")) {
						$(".shop").hide()
					}
					$(".dc > span").each(function( index ) {
						if (! $(this).text() > 0) {
							$(this).parent().parent().hide()
						}
					});
				}
			});
		});
	</script>
</body>
{% endblock %}
