{% extends "layout.html" %}
{% block body %}
	<h2>What's In Stock? - {{ category }}</h2>
	<form method="GET" class="no-print">
		<label for="category">Select Category:</label>
    <select id="category" name="category">
      <option value="all">All</option>
      <option value="toolbox">Toolboxes</option>
      <option value="camlock">- Camlock</option>
      <option value="thandle">- T-Handle</option>
      <option value="headache">Headache Racks</option>
      <option value="flatrack">- Flat</option>
      <option value="enclosed">- Enclosed</option>
      <option value="stepbox">Step Boxes</option>
      <option value="topstep">- Top Step</option>
      <option value="bigmouh">- Big Mouth</option>
      <option value="framebox">Frame Mounted Boxes</option>
      <!-- <option value="loadleveler">Load Levelers</option> -->
      <option value="fifthwheel">Fifth Wheel Ramps</option>
      <!-- <option value="other">Other</option> -->
    </select>
    <br />
    <button type="submit">Submit</button>
	</form>
  <hr class="no-print">
  <div>
    {% for category in parts %}
		<div id="category">
    <h3>{{ category["category"] }}</h3>
			<div>
				{% for part in category["parts"] %}
	      <p class="part_title">{{ part.number }} - {{ part.description }}</p>
	      <p class="part_description">Shop Qty:{{ part.shop_stock }} | DC Qty:{{ part.dc_stock }}</p>
				<br />
				{% endfor %}
		</div>
		</div>
    {% endfor %}
  </div>
</body>
{% endblock %}
