{% extends "layout.html" %}
{% block body %}
	<h2>What's In Stock?</h2>
	<form method="GET">
		<label for="category">Select Category:</label>
    <select id="category" name="category">
      <option value="all">All</option>
      <option value="toolbox">Toolboxes</option>
      <option value="camlock">- Camlock</option>
      <option value="thandle">- T-Handle</option>
      <option value="headache">Headache Racks</option>
      <option value="flatrack">- Flat</option>
      <option value="enclosed">- Enclosed</option>
      <option value="stepbox">Step Boxes</option>
      <option value="topstep">- Top Step</option>
      <option value="bigmouh">- Big Mouth</option>
      <option value="framebox">Frame Mounted Boxes</option>
      <!-- <option value="loadleveler">Load Levelers</option> -->
      <option value="fifthwheel">Fifth Wheel Ramps</option>
      <option value="other">Other</option>
    </select>
    <br />
    <button type="submit">Submit</button>
	</form>
  <hr>
  <div>
    {{ data }}
    <table id="parts">
      {% for part in parts %}
      <tr>
        <td class="part_title" colspan="2">{{ part.number }} - {{ part.description }} - ${{ part.price }}{{ part.currency }}</td>
      </tr>
      <tr>
        <td class="part_description">Shop Qty:{{ part.shop_stock }}</td>
        <td class="part_description">DC Qty:{{ part.dc_stock }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</body>
{% endblock %}
