{% extends "layout.html" %}
{% block body %}
<script src='http://d3js.org/d3.v4.min.js'></script>
<h2 class="no-print">Job Progress</h2>
<form method="GET" class="no-print">
	Search: <input name="job" placeholder="{{ job_details['job'] }}">
	<button type="submit">Submit</button>
</form>
<br />
<div style="padding: 10px; background: white;">
  <h3>{{ job_details['job'] }}</h3>
  <div id="progress-bar">
  </div>
  <table>
    <tr>
      <td>Customer: </td>
      <td><a href="/customer_jobs?customer={{ job_details['customer'] }}">{{ job_details['customer'] }}</a></td>
    <tr>
      <td>Status: </td>
      <td>{{ job_details['status'] }}</td>
    </tr>
    <tr>
      <td>Part: </td>
      <td><a href="/part_viewer?part={{ job_details['part number'] }}">{{ job_details['part number'] }}</a></td>
    </tr>
    <tr>
      <td>Quantity: </td>
      <td>{{ job_details['quantity'] }}</td>
    </tr>
    <tr>
      <td>Customer PO: </td>
      <td><a href="/po_viewer?po={{ job_details['customer po'] }}">{{ job_details['customer po'] }}</a></td>
    </tr>
    <tr>
      <td>Order Date: </td>
      <td>{{ job_details['order date'] }}</td>
    </tr>
    <tr>
      <td>Promised Date: </td>
      <td>{{ job_details['promised date'] }}</td>
    </tr>
    <tr>
      <td>Current Work Center: </td>
      <td>{{ job_details['current wc'] }}</td>
    </tr>
  </table>
  <br />
  Job Notes:<br />
  <p style="width: 500px;">{{ job_details['note text'] }}</p>
  <br />
  Ship To:<br />
  <p>{% for line in job_details['address'] %}
    {{ line }}<br />
  {% endfor %}</p>
</div>
<script>
  var step = {{ progress }}
  var colors = { green: '#f77f00', lightGreen: '#20274b ' };
  var width = 480, height = 80, offset = 24;

  width += offset * 2;
  height += offset * 2;

  var svg = d3.select('#progress-bar').append('svg')
      .attr('id', 'scene', true)
      .attr('width', width)
      .attr('height', height)
      .classed('svg-content', true);

  var steps = ['Design', 'Programming', 'Kit', 'Schedule', 'Laser', 'Bending', 'Welding', 'Assembly', 'Shipping'];
  stepWidth = (width - offset * 2) / (steps.length - 1),
  currentStep = 'Design';

  var progressBar = svg.append('g')
                .attr('transform', 'translate(' + offset + ',' + offset + ')')
                .style('pointer-events', 'none');

  var progressBackground = progressBar.append('rect')
      .attr('fill', colors.lightGreen)
      .attr('height', 8)
      .attr('width', width - offset * 2)
      .attr('rx', 4)
      .attr('ry', 4);

  var progress = progressBar.append('rect')
      .attr('fill', colors.green)
      .attr('height', 8)
      .attr('width', 0)
      .attr('rx', 4)
      .attr('ry', 4);

  progress.transition()
      .duration(1000)
      .attr('width', function(){
          var index = steps.indexOf(currentStep);
          return (index + 1) * stepWidth;
      });

  progressBar.selectAll('circle')
  .data(steps)
  .enter()
  .append('circle')
  .attr('id', function(d, i){ return 'step_' + i; })
  .attr('cx', function(d, i){ return i * stepWidth; })
  .attr('cy', 4)
  .attr('r', 20)
  .attr('fill', '#FFFFFF')
  .attr('stroke', colors.lightGreen)
  .attr('stroke-width', 6)

  progressBar.selectAll('text')
  .data(steps)
  .enter()
  .append('text')
  .attr('id', function(d, i){ return 'label_' + i; })
  .attr('dx', function(d, i){ return i * stepWidth; })
  .attr('dy', 10)
  .attr('text-anchor', 'middle')
  .text(function(d, i) { return i + 1; })

  updateProgressBar(steps[step]);

  //self-running demo
  //setInterval(function() { updateProgressBar(Math.floor(Math.random() * (steps.length - 1)).toString()); } , 2500)

  function setupProgressBar(data_){

  var output = [];
  for(var i = 0; i < data_.length; i++){ output.push(data_[i].id.toString()); }
  return output;

  }

  function updateProgressBar(step_){

      progress.transition()
          .duration(1000)
          .attr('fill', colors.green)
          .attr('width', function(){
              var index = steps.indexOf(step_);
              return (index) * stepWidth;
          });

      for(var i = 0; i < steps.length; i++){

          if(i <= steps.indexOf(step_)) {

              d3.select('#step_' + i).attr('fill', colors.green).attr('stroke', colors.green);
              d3.select('#label_' + i).attr('fill', '#FFFFFF');


          } else {

              d3.select('#step_' + i).attr('fill', '#FFFFFF').attr('stroke', colors.lightGreen);
              d3.select('#label_' + i).attr('fill', '#000000');

          }

      }
      svg.append("text")
        .attr("x", (width / 2))
        .attr("y", 70)
        .attr("text-anchor", "middle")
        .style("font-size", "18px")
        .style("fill", "black")
        .text("In Progress: " + step_);

  }
</script>
{% endblock %}
