{% extends "layout.html" %}
{% block body %}
<h2>Order/Shipment Review</h2>
<h3>In the last 7 days...</h3>
<table style="margin-left: 80px; width: 1100px;">
  <tr>
    <td>
      <h3>Top 5 Orders</h3>
      <ul>
      {% for order in data['top_orders'] %}
        <li>{{ "${:,.2f}".format(order['price']) }} - <a href="/customer_jobs?customer={{ order['customer'] }}">{{ order['customer'] }}</a><br />
        <a href="/mobile_traveler?job={{ order['job'] }}">{{ order['job'] }}</a> - PO#: <a href="/po_viewer?po={{ order['po'] }}">{{ order['po'] }}</a><br />
        {{ order['quantity']|int }}pc <a href="/part_viewer?part={{ order['part'] }}">{{ order['part'] }}</a> - {{ order['description'] }}</li>
      {% endfor %}
      </ul>
    </td>
    <td>
      <h3>Top 5 Shipments</h3>
      <ul>
      {% for shipment in data['top_shipments'] %}
        <li>{{ "${:,.2f}".format(shipment['price']) }} - <a href="/customer_jobs?customer={{ shipment['customer'] }}">{{ shipment['customer'] }}</a><br />
        <a href="/mobile_traveler?job={{ shipment['job'] }}">{{ shipment['job'] }}</a> - Lead time: {{ shipment['lead'] }} weeks<br />
        {{ shipment['quantity']|int }}pc <a href="/part_viewer?part={{ shipment['part'] }}">{{ shipment['part'] }}</a> - {{ shipment['description'] }}</li>
      {% endfor %}
      </ul>
    </td>
</table>
<div style="margin-left: 80px; width: 1100px;">
  <p>Average Lead Time: {{ data['avg_lead_time'] }}<br />
     Month/Month: {{ data['prev_avg_lead_time'] }}</p>
</div>
<h3>In the last 30 days...</h3>
<div id="orders"></div>
<div id="shipments"></div>
<style> /* set the CSS */
  .highlight {
    fill: #e0e0e0;
  }
  #orders .line {
    fill: none;
    stroke: #71CBAB;
    stroke-width: 2px;
  }
  #orders .sm_line {
    fill: none;
    stroke: #6B7E95;
    stroke-width: 3px;
  }
  #shipments .line {
    fill: none;
    stroke: #c68136;
    stroke-width: 2px;
  }
  #shipments .sm_line {
    fill: none;
    stroke: #750e3d;
    stroke-width: 3px;
  }
</style>
<script src="http://d3js.org/d3.v4.min.js"></script>
<script>
  var data = {{ data.orders | safe }};

  // set the dimensions and margins of the graph
  var margin = {top: 60, right: 20, bottom: 60, left: 80},
      width = 1200 - margin.left - margin.right,
      height = 700 - margin.top - margin.bottom;

  // parse the date / time
  var parseTime = d3.timeParse("%d-%b-%y");

  // set the ranges
  var x = d3.scaleTime().range([0, width]);
  var y = d3.scaleLinear().range([height, 0]);

  // define the line
  var valueline = d3.line()
      .x(function(d) { return x(d.date); })
      .y(function(d) { return y(d.value); });

  var smoothline = d3.line()
      .x(function(d) { return x(d.date); })
      .y(function(d) { return y(d.sm_value); });

  // append the svg obgect to the body of the page
  // appends a 'group' element to 'svg'
  // moves the 'group' element to the top left margin
  var svg = d3.select("#orders").append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
    .append("g")
      .attr("transform",
            "translate(" + margin.left + "," + margin.top + ")");

  // format the data
  data.forEach(function(d) {
      d.date = parseTime(d.date);
      d.value = +d.value;
      d.sm_value = +d.sm_value;
  });

  // Scale the range of the data
  x.domain(d3.extent(data, function(d) { return d.date; }));
  y.domain([0, d3.max(data, function(d) { return d.value; })]);

  // Add the valueline path.
  svg.append("path")
      .data([data])
      .attr("class", "line")
      .attr("d", valueline);

  svg.append("path")
      .data([data])
      .attr("class", "sm_line")
      .attr("d", smoothline);

  // Add the X Axis
  svg.append("g")
      .attr("transform", "translate(0," + height + ")")
      .call(d3.axisBottom(x));

  // Add the Y Axis
  svg.append("g")
      .call(d3.axisLeft(y));

  // gridlines in y axis function
  function make_y_gridlines() {
      return d3.axisLeft(y)
          .ticks(10)
  }
  // add the Y gridlines
  svg.append("g")
      .attr("class", "grid")
      .call(make_y_gridlines()
          .tickSize(-width)
          .tickFormat("")
      )
  // text label for the x axis
  svg.append("text")
    .attr("transform", "translate(" + (width/2) + " ," + (height + margin.top) + ")")
    .style("text-anchor", "middle")
    .text("Date");

  // text label for the y axis
  svg.append("text")
    .attr("transform", "rotate(-90)")
    .attr("y", 0 - margin.left)
    .attr("x",0 - (height / 2))
    .attr("dy", "1em")
    .style("text-anchor", "middle")
    .text("Daily Order Value");

  // title
  svg.append("text")
    .attr("x", (width / 2))
    .attr("y", 0 - (margin.top / 2))
    .attr("text-anchor", "middle")
    .style("font-size", "20px")
    .style("text-decoration", "underline")
    .text("Daily Order Totals with 10 Day Moving Average");

</script>
<script>
  var data = {{ data.shipments | safe }};

  // set the dimensions and margins of the graph
  var margin = {top: 60, right: 20, bottom: 60, left: 80},
      width = 1200 - margin.left - margin.right,
      height = 700 - margin.top - margin.bottom;

  // parse the date / time
  var parseTime = d3.timeParse("%d-%b-%y");

  // set the ranges
  var x = d3.scaleTime().range([0, width]);
  var y = d3.scaleLinear().range([height, 0]);

  // define the line
  var valueline = d3.line()
      .x(function(d) { return x(d.date); })
      .y(function(d) { return y(d.value); });

  var smoothline = d3.line()
      .x(function(d) { return x(d.date); })
      .y(function(d) { return y(d.sm_value); });

  // append the svg obgect to the body of the page
  // appends a 'group' element to 'svg'
  // moves the 'group' element to the top left margin
  var svg = d3.select("#shipments").append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
    .append("g")
      .attr("transform",
            "translate(" + margin.left + "," + margin.top + ")");

  // format the data
  data.forEach(function(d) {
      d.date = parseTime(d.date);
      d.value = +d.value;
      d.sm_value = +d.sm_value;
  });

  // Scale the range of the data
  x.domain(d3.extent(data, function(d) { return d.date; }));
  y.domain([0, d3.max(data, function(d) { return d.value; })]);

  // Add the valueline path.
  svg.append("path")
      .data([data])
      .attr("class", "line")
      .attr("d", valueline);

  svg.append("path")
      .data([data])
      .attr("class", "sm_line")
      .attr("d", smoothline);

  // Add the X Axis
  svg.append("g")
      .attr("transform", "translate(0," + height + ")")
      .call(d3.axisBottom(x));

  // Add the Y Axis
  svg.append("g")
      .call(d3.axisLeft(y));

  // gridlines in y axis function
  function make_y_gridlines() {
      return d3.axisLeft(y)
          .ticks(10)
  }
  // add the Y gridlines
  svg.append("g")
      .attr("class", "grid")
      .call(make_y_gridlines()
          .tickSize(-width)
          .tickFormat("")
      )
  // text label for the x axis
  svg.append("text")
    .attr("transform", "translate(" + (width/2) + " ," + (height + margin.top) + ")")
    .style("text-anchor", "middle")
    .text("Date");

  // text label for the y axis
  svg.append("text")
    .attr("transform", "rotate(-90)")
    .attr("y", 0 - margin.left)
    .attr("x",0 - (height / 2))
    .attr("dy", "1em")
    .style("text-anchor", "middle")
    .text("Daily Shipment Value");

  // title
  svg.append("text")
    .attr("x", (width / 2))
    .attr("y", 0 - (margin.top / 2))
    .attr("text-anchor", "middle")
    .style("font-size", "20px")
    .style("text-decoration", "underline")
    .text("Daily Shipment Totals with 10 Day Moving Average");

</script>
{% endblock %}
