{% extends "layout.html" %}
{% block body %}
<h2>{{title}}</h2>
<form method="GET" class="no-print">
	Part Number: <input name="part"><br />
	<button type="submit">Submit</button>
</form>
<table id="table-id" border=1 frame=void rules=rows>
	<thead>
		<tr>
	{% for header in head %}
			<th>{{header}}</th>
	{% endfor %}
	</thead>
{% for row in rows %}
	<tr>
	{% for i in range(0, row|length) %}
    {% if i == 0 %}
    <td><a href="/mobile_traveler?job={{ row[i] }}">{{ row[i] }}</a></td>
    {% elif i == 1 %}
    <td><a href="/customer_jobs?customer={{ row[i] }}">{{ row[i] }}</a></td>
    {% elif i == 2 %}
    <td><a href="/po_viewer?po={{ row[i] }}">{{ row[i] }}</a></td>
    {% else %}
		<td>{{row[i]}}</td>
    {% endif %}
	{% endfor %}
	</tr>
{% endfor %}
</table>
<div>
		{{body}}
</div>
<script>
	new Tablesort(document.getElementById('table-id'));
</script>
{% endblock %}
