{% extends "layout.html" %}
{% block body %}
<style>
  .axis {
    font: 12px sans-serif;
  }

  .axis g.tick line {
    stroke: black;
    shape-rendering: crispEdges;
  }

  rect {
    fill: gray;
  }

  rect:hover {
    fill: orange !important;
  }
</style>
<script src="http://d3js.org/d3.v3.min.js"></script>
<div style="padding-left: 10px;">
  <h2>{{title}}</h2>
	<h3><a href="http://192.168.2.81/reports/quotes/7">7 Day Summary</a> | <a href="http://192.168.2.81/reports/quotes/14">14 Day Summary</a> | <a href="http://192.168.2.81/reports/quotes/21">21 Day Summary</a></h3>
  <h3>Summary of the Last {{ length }} Days</h3>
  <table>
    <thead>
      <tr>
        <th># of Items Quoted</th>
        <th>Total Value Quoted</th>
        <th>Overall Win %</th>
      </tr>
    </thead>
    <tr>
      <td>{{ quotes['quotes_per_week'] }}</td>
      <td>{{ "${:,.2f}".format(quotes['total_value']) }}</td>
      <td>{{ ((quotes['total_win']/quotes['quotes_per_week'])*100)|round|int }}%</td>
    </tr>
  </table>
  <br />
  <br />
  <h3>Quote Details of the Last {{ length }} Days</h3>
  <table id="table-id" border=1 frame=void rules=rows>
  	<thead>
  		<tr>
  	{% for header in head %}
  			<th>{{header}}</th>
  	{% endfor %}
  	</thead>
  {% for customer in quotes['customers'] %}
  	<tr>
  		<td>{{ customer }}</td>
      <td>{{ quotes['customer_counts'][customer] }}</td>
      <td align="right">{{ "${:,.2f}".format(quotes['customer_total'][customer]) }}</td>
      <td>{{ ((quotes['customer_wins'][customer]/quotes['customer_counts'][customer])*100)|round|int }}%</td>
  	</tr>
  {% endfor %}
  </table>
  <div id="vis">
  </div>
</div>
<script>
	new Tablesort(document.getElementById('table-id'));
</script>
<script>
  // define diagram sizes
  var margin = {top: 70, right: 20, bottom: 20, left: 70}
    , totalWidth = 1200
    , totalHeight = 800
    , width = totalWidth - margin.left - margin.right
    , height = totalHeight - margin.top - margin.bottom

  var dataset = {{ chart_data['weekly_quotes'] | safe }}

  // group data by week
  var weekFormatter = d3.time.format('%y %W')
    , toDate = function(d) { return d.date }
    , toWeek = function(d) { return weekFormatter(new Date(toDate(d))) }

  var eventsByDay = d3.nest()
    .key(toWeek)
    .sortKeys(d3.ascending)
    .rollup(function(values) { return {
      amount: values.length
    , mondayDate: d3.time.format('%y %W %a').parse(toWeek(values[0]) + ' Mon')
    } })
    .entries(dataset)

  console.log(eventsByDay[0])

  // scales
  var x = d3.time.scale()
    .domain(d3.extent(dataset, function(d) { return new Date(toDate(d)) }))
    .range([0, width])
    .nice(d3.time.month)

  var y = d3.scale.linear()
    .domain([0, d3.max(eventsByDay, function(d) { return d.values.amount })])
    .range([height, 0])

  // the chart
  var svg = d3.select('div#vis').append('svg')
    .attr('width', totalWidth)
    .attr('height', totalHeight)

  // x axis
  var xAxis = d3.svg.axis()
    .scale(x)
    .orient('bottom')
    .ticks(d3.time.months, 1)
    .tickFormat(d3.time.format.multi([
      ['%b', function(d) { return d.getMonth(); }]
    , ['%Y', function() { return true; }]
    ]))
    .tickSize(10, 0)
    .tickPadding(0)

  svg.append('g')
    .classed('x axis', true)
    .attr('transform', 'translate(' + margin.left + ',' + (margin.top + height + 5) + ')')
    .call(xAxis)
    .selectAll('text')
      .attr('x', 6)
      .attr('y', 2)
      .style('text-anchor', 'start')

  d3.selectAll('g.x.axis g.tick text')[0].reverse()[0].remove() // remove last tick

  // y axis
  var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left")
    .ticks(10)
    .tickSize(-width, 0, 0)
    .tickFormat(function(d) { return d });

  // Add the Y Axis
  svg.append("g")
    .attr("class", "y axis")
    .call(yAxis);

  // text label for the y axis
  svg.append("text")
    .attr("transform", "rotate(-90)")
    .attr("y", 0)
    .attr("x", 0 - (height / 2))
    .attr("dy", "1em")
    .style("text-anchor", "middle")
    .style("fill", "black")
    .text("Number of Lines Quoted");

  // title
  svg.append("text")
    .attr("x", (width / 2))
    .attr("y", 0 - (margin.top / 2))
    .attr("text-anchor", "middle")
    .style("font-size", "16px")
    .style("text-decoration", "underline")
    .style("fill", "black")
    .text("Number of Lines Quoted per Week");

  // bar chart
  svg.append('clipPath') // relative to what it affects (here, g.bar.chart)
    .attr('id', 'chart-area')
    .append('rect')
      .attr('x', 0)
      .attr('y', 0)
      .attr('width', width)
      .attr('height', height)

  var chart = svg.append('g')
    .classed('bar chart', true)
    .attr('transform', 'translate(' + margin.left + ',' + margin.top + ')')
    .attr('clip-path', 'url(#chart-area)')

  var bars = chart.selectAll('rect')
    .data(eventsByDay)

  bars.enter()
    .append('rect')

  bars
    .style('fill', '#15194f')
    .attr('x', function(d) { return x(new Date(d.values.mondayDate)) })
    .attr('y', function(d) { return height - y(d.values.amount) })
    .attr('width', (width / eventsByDay.length - 1) - 5)
    .attr('height', function(d) { return y(d.values.amount) })
    .append('title')
      .text(function(d) { return d.values.amount})

  bars.exit()
    .remove()

</script>
{% endblock %}
