{% extends "layout.html" %}
{% block body %}
<h2>{{title}}</h2>
<div style="text-align: center;">
	<div id="summary" style="margin: 50px;">
		<table id="summary-table" border=1 frame=void rules=rows>
			<caption> Summary </caption>
			<thead>
				<th>Headache Racks</th>
				<th>In Production</th>
				<th>Sold</th>
				<th>Net</th>
			</thead>
			{% for r in data %}
			<tr>
				<td>{{ r.description }}</td>
				<td>{{ r.inproduction - r.shipped }}</td>
				<td>{{ r.sold }}</td>
				<td>{{ r.inproduction - r.shipped - r.sold }}</td>
			</tr>
			{% endfor %}
		</table>
		<table id="tank-table" border=1 frame=void rules=rows>
			<caption> Tanks </caption>
			<thead>
				<th>Description</th>
				<th>Part Number</th>
				<th>In Production</th>
				<th>In Stock</th>
			</thead>
			{% for r in tanks %}
			<tr>
				<td>{{ r['description'] }}</td>
				<td>{{ r['part'] }}</td>
				<td>{{ r['production'] }}</td>
				<td>{{ r['stock'] }}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
	<div id="rackorders" style="margin: 50px;">
		<table id="sold-table" border=1 frame=void rules=rows>
			<caption> Sold Headache Racks </caption>
			<thead>
			{% for header in ['Description','Part Number','Job', 'Customer', 'Quantity', 'Order Date', 'Promised Date', 'Notes'] %}
				<th>{{header}}</th>
			{% endfor %}
			</thead>
			{% for row in sold %}
			<tr>
			{% for column in row[:-1] %}
				<td>{{column}}</td>
			{% endfor %}
				<td><span title="{{row[-1]}}">Hover For Notes</span></td>
			</tr>
		{% endfor %}
		</table>	
	</div>
	<div id="rackstock" style="margin: 50px;">
			<table id="stock-table" border=1 frame=void rules=rows>
				<caption> In Production Stock Orders</caption>
				<thead>
				{% for header in head %}
					<th>{{header}}</th>
				{% endfor %}
				</thead>
				{% for row in stock %}
					<tr>
					{% for column in row %}
						<td>{{column}}</td>
					{% endfor %}
					</tr>	
				{% endfor %}
			</table>
	</div>
</div>
<script>
	new Tablesort(document.getElementById('summary-table'));
	new Tablesort(document.getElementById('sold-table'));
	new Tablesort(document.getElementById('stock-table'));
</script>
{% endblock %}