{% extends "layout.html" %}
{% block body %}
<h2>{{title}}</h2>
<div style="text-align: center;">
	<!-- <div id="summary" style="margin: 50px;">
			<table id="summary-table" border=1 frame=void rules=rows>
			<caption> Summary </caption>
			<thead>
				<th>Headache Racks</th>
				<th>In Production</th>
				<th>Sold</th>
				<th>Net</th>
			</thead>
			{% for r in data %}
			<tr>
				<td>{{ r.description }}</td>
				<td>{{ r.inproduction - r.shipped }}</td>
				<td>{{ r.sold }}</td>
				<td>{{ r.inproduction - r.shipped - r.sold }}</td>
			</tr>
			{% endfor %}
		</table>
		<table id="tank-table" border=1 frame=void rules=rows>
			<caption> Tanks </caption>
			<thead>
				<th>Description</th>
				<th>Part Number</th>
				<th>In Production</th>
				<th>In Stock</th>
			</thead>
			{% for r in tanks %}
			<tr>
				<td>{{ r['description'] }}</td>
				<td>{{ r['part'] }}</td>
				<td>{{ r['production'] }}</td>
				<td>{{ r['stock'] }}</td>
			</tr>
			{% endfor %}
		</table>
	</div>-->
	<div id="rackorders" style="margin: 50px;">
		<table id="sold-table" border=1 frame=void rules=rows>
			<caption>Sold Headache Racks</caption>
			<thead>
			{% for header in ['Description','Part Number','Job', 'Customer', 'Quantity', 'Order Date', 'Promised Date', 'Notes', 'Customer PO'] %}
				<th>{{header}}</th>
			{% endfor %}
			</thead>
			{% for row in sold %}
			<tr>
				<td>{{ row[0] }}</td>
				<td><a href="/part_viewer?part={{ row[1] }}">{{row[1]}}</a></td>
				<td><a href="/mobile_traveler?job={{ row[2] }}">{{row[2]}}</a></td>
				<td><a href="/customer_jobs?customer={{ row[3] }}">{{row[3]}}</a></td>
				<td><a href="/po_viewer?po={{ row[8] }}">{{row[8]}}</a></td>
				<td>{{ row[4] }}</td>
				<td>{{ row[5] }}</td>
				<td>{{ row[6] }}</td>
				<td><span title="{{ row[7] }}">Hover For Notes</span></td>
			</tr>
		{% endfor %}
		</table>
	</div>
	<div id="rackstock" style="margin: 50px;">
			<table id="stock-table" border=1 frame=void rules=rows>
				<caption>In Production Stock Orders</caption>
				<thead>
				{% for header in head %}
					<th>{{header}}</th>
				{% endfor %}
				</thead>
				{% for row in stock %}
					<tr>
						<td>{{ row[0] }}</td>
						<td><a href="/part_viewer?part={{ row[1] }}">{{row[1]}}</a></td>
						<td><a href="/mobile_traveler?job={{ row[2] }}">{{row[2]}}</a></td>
						<td><a href="/customer_jobs?customer={{ row[3] }}">{{row[3]}}</a></td>
						<td>{{ row[4] }}</td>
						<td>{{ row[5] }}</td>
						<td>{{ row[6] }}</td>
					</tr>
				{% endfor %}
			</table>
	</div>
</div>
<script>
	//new Tablesort(document.getElementById('summary-table'));
	new Tablesort(document.getElementById('sold-table'));
	new Tablesort(document.getElementById('stock-table'));
</script>
{% endblock %}
