{% extends "layout.html" %}
{% block body %}
<h2>{{title}}</h2>
<form method="GET" class="no-print">
  Choose a Sales Rep:
	<select name="rep">
    <option value="">-Sales Rep-</option>
  {% for rep in rep_list %}
    <option value="{{ rep }}">{{ rep }}</option>
  {% endfor %}
  </select>
  <br />
  From:<input name="from_date" id="from_date">(YYYY-MM-DD Format Only)<br />
  To:<input name="to_date" id="to_date">(YYYY-MM-DD Format Only)<br />
	<button type="submit">Submit</button>
</form>
<table id="table-id" border=1 frame=void rules=rows>
	<thead>
		<tr>
	{% for header in head %}
			<th>{{header}}</th>
	{% endfor %}
	</thead>
{% for row in rows %}
	<tr>
	{% for column in row %}
		<td>{{column}}</td>
	{% endfor %}
	</tr>
{% endfor %}
</table>
<div>
		{{body}}
</div>
<script>
	new Tablesort(document.getElementById('table-id'));
</script>
{% endblock %}
