{% extends "layout.html" %}
{% block body %}
<div>
  <form id="laser_sched">
    <div id="laser_items">

    </div>
    <input name="laser_input">
  </form>
  <form id="bending_sched">
    <div id="bending_items">

    </div>
    <input name="bending_input">
  </form>
  <form id="welding_sched">
    <div id="welding_items">

    </div>
    <input name="welding_input">
  </form>
  <form id="shop_sched">
    <div id="shop_items">

    </div>
    <input name="shop_input">
  </form>
</div>
{% endblock %}
