{% extends "layout.html" %}
{% block body %}
<h2 class="no-print">{{ title }}</h2>
<form method="GET" class="no-print">
	Search: <input name="search">
	<button type="submit">Submit</button>
</form>
<table id="table-id search_results" border=1 frame=void rules=rows>
	<thead>
		<tr>
	{% for header in head %}
			<th>{{header}}</th>
	{% endfor %}
	</thead>
{% for row in rows %}
	<tr>
	{% for column in row %}
		<td><div class="info">{{column}}</div></td>
	{% endfor %}
	</tr>
{% endfor %}
</table>
<div>
		{{body}}
</div>
<script>
	new Tablesort(document.getElementById('table-id'));
</script>
{% endblock %}
