{% extends "layout.html" %}
{% block body %}
<h2 class="no-print">{{ title }}</h2>
<form method="GET" class="no-print">
	Search: <input name="search">
	<button type="submit">Submit</button>
</form>
<h2>Jobs</h2>
<table class="search_results" id="job-table" border=1 frame=void rules=rows>
	<thead>
		<tr>
	{% for header in rows["job_head"] %}
			<th>{{header}}</th>
	{% endfor %}
	</thead>
{% for row in rows["job"] %}
	<tr>
	{% for column in row %}
		<td><div class="info">{{column}}</div></td>
	{% endfor %}
	</tr>
{% endfor %}
</table>
<h2>Quotes</h2>
<table class="search_results" id="quote-table" border=1 frame=void rules=rows>
	<thead>
		<tr>
	{% for header in rows["quote_head"] %}
			<th>{{header}}</th>
	{% endfor %}
	</thead>
{% for row in rows["quote"] %}
	<tr>
	{% for column in row %}
		<td><div class="info">{{column}}</div></td>
	{% endfor %}
	</tr>
{% endfor %}
</table>
<h2>POs</h2>
<table class="search_results" id="po-table" border=1 frame=void rules=rows>
	<thead>
		<tr>
	{% for header in rows["po_head"] %}
			<th>{{header}}</th>
	{% endfor %}
	</thead>
{% for row in rows["po"] %}
	<tr>
	{% for column in row %}
		<td><div class="info">{{column}}</div></td>
	{% endfor %}
	</tr>
{% endfor %}
</table>
<div>
		{{body}}
</div>
<script>
	new Tablesort(document.getElementById('job-table'));
  new Tablesort(document.getElementById('quote-table'));
  new Tablesort(document.getElementById('po-table'));
</script>
{% endblock %}
