{% extends "layout.html" %}
{% block body %}
<h2 class="no-print">{{ title }}</h2>
<form method="GET" class="no-print">
	Customer PO: <input name="po">
	<button type="submit">Submit</button>
</form>
<table>
  <tr>
    <td colspan="6" class="banner">Shipping Checklist</td>
  </tr>
  <tr>
    <td colspan="6">PO: {% for each in po_number %}{{ each }} {% endfor %}</td>
  </tr>
  <tr class="table_title">
    <td>Job</td>
    <td>Description</td>
    <td>Part Number</td>
    <td>Quantity</td>
    <td>Check</td>
    <td>Initial</td>
  </tr>
  {% for job in checklist %}
  <tr>
    <td>{{ job['job'] }}</td>
    <td>{{ job['description'] }}</td>
    <td>{{ job['part number'] }}</td>
    <td>{{ job['quantity'] }}</td>
    <td><input type='checkbox' /></td>
    <td></td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
