{% extends "layout.html" %}
{% block body %}
<h2>{{title}}</h2>
<form method="GET" class="no-print">
	Search: <textarea id="textarea" name="sql" rows="5" cols="33"></textarea>
	<br />
	<button type="submit">Submit</button>
</form>
<table id="table-id" border=1 frame=void rules=rows>
	<thead>
		<tr>
	{% for header in head %}
			<th>{{header}}</th>
	{% endfor %}
	</thead>
{% for row in rows %}
	<tr>
	{% for column in row %}
		<td>{{column}}</td>
	{% endfor %}
	</tr>
{% endfor %}
</table>
<div>
		{{body}}
</div>
<script>
	new Tablesort(document.getElementById('table-id'));
</script>
{% endblock %}
