{% extends "layout.html" %}
{% block body %}
<script src="http://d3js.org/d3.v3.min.js"></script>
<div id="tot">
</div>

<script>
	data = [{% for customer in quotes['customers'] %}{"label":"{{ customer }}", "value": {{ quotes['customer_total'][customer] }}},{% endfor %}{"label":" ", "value": 0}];

	var threshold = {{ quotes['total_value'] }}/20

	big_items = data.filter(item => item.value > threshold);
	small_items = data.filter(item => item.value <= threshold);
	collected_value = {
	    label: `Other - ${small_items.length} items`,
	    value: small_items.reduce((accumulator, item) => accumulator + item.value, 0)
	}
	big_items.push(collected_value);

	data = big_items

  var w = 400;
  var h = 400;
  var r = h/2;
  var aColor = ['rgb(12,192,170)', 'rgb(37,115,139)', 'rgb(135,206,254)', 'rgb(129,132,251)', 'rgb(202,45,197)', 'rgb(233,201,250)', 'rgb(208,113,172)', 'rgb(133,111,145)']


  var vis = d3.select('#tot').append("svg:svg").data([data]).attr("width", w).attr("height", h).append("svg:g").attr("transform", "translate(" + r + "," + r + ")");

  var pie = d3.layout.pie().value(function(d){return d.value;});

  // Declare an arc generator function
  var arc = d3.svg.arc().outerRadius(r);

  // Select paths, use arc generator to draw
  var arcs = vis.selectAll("g.slice").data(pie).enter().append("svg:g").attr("class", "slice");
  arcs.append("svg:path")
      .attr("fill", function(d, i){return aColor[i];})
      .attr("d", function (d) {return arc(d);})
  ;

	/* ------- TEXT LABELS -------*/

	var text = svg.select(".labels").selectAll("text")
		.data(pie(data), key);

	text.enter()
		.append("text")
		.attr("dy", ".35em")
		.text(function(d) {
			return d.data.label;
		});

	function midAngle(d){
		return d.startAngle + (d.endAngle - d.startAngle)/2;
	}

	text.transition().duration(1000)
		.attrTween("transform", function(d) {
			this._current = this._current || d;
			var interpolate = d3.interpolate(this._current, d);
			this._current = interpolate(0);
			return function(t) {
				var d2 = interpolate(t);
				var pos = outerArc.centroid(d2);
				pos[0] = radius * (midAngle(d2) < Math.PI ? 1 : -1);
				return "translate("+ pos +")";
			};
		})
		.styleTween("text-anchor", function(d){
			this._current = this._current || d;
			var interpolate = d3.interpolate(this._current, d);
			this._current = interpolate(0);
			return function(t) {
				var d2 = interpolate(t);
				return midAngle(d2) < Math.PI ? "start":"end";
			};
		});

	text.exit()
		.remove();

	/* ------- SLICE TO TEXT POLYLINES -------*/

	var polyline = svg.select(".lines").selectAll("polyline")
		.data(pie(data), key);

	polyline.enter()
		.append("polyline");

	polyline.transition().duration(1000)
		.attrTween("points", function(d){
			this._current = this._current || d;
			var interpolate = d3.interpolate(this._current, d);
			this._current = interpolate(0);
			return function(t) {
				var d2 = interpolate(t);
				var pos = outerArc.centroid(d2);
				pos[0] = radius * 0.95 * (midAngle(d2) < Math.PI ? 1 : -1);
				return [arc.centroid(d2), outerArc.centroid(d2), pos];
			};
		});

	polyline.exit()
		.remove();
</script>
{% endblock %}
