{% extends "layout.html" %}
{% block body %}
<script src="http://d3js.org/d3.v3.min.js"></script>
<div id="tot">
</div>

<script>
	data = [{% for customer in quotes['customers'] %}{"label":"{{ customer }}", "value": {{ quotes['customer_total'][customer] }}},{% endfor %}{"label":" ", "value": 0}];

	var threshold = {{ quotes['total_value'] }}/20

	big_items = data.filter(item => item.value > threshold);
	small_items = data.filter(item => item.value <= threshold);
	collected_value = {
	    label: `Other - ${small_items.length} items`,
	    value: small_items.reduce((accumulator, item) => accumulator + item.value, 0)
	}
	big_items.push(collected_value);

	data = big_items

  var w = 400;
  var h = 400;
  var r = h/2;
  var aColor = ['rgb(161,222,240)', 'rgb(39,76,86)', 'rgb(35,158,179)', 'rgb(87,236,192)', 'rgb(42,150,86)', 'rgb(116,222,88)', 'rgb(124,138,79)', 'rgb(195,222,155)']


  var vis = d3.select('#tot').append("svg:svg").data([data]).attr("width", w).attr("height", h).append("svg:g").attr("transform", "translate(" + r + "," + r + ")");

  var pie = d3.layout.pie().value(function(d){return d.value;});

  // Declare an arc generator function
  var arc = d3.svg.arc().outerRadius(r);

  // Select paths, use arc generator to draw
  var arcs = vis.selectAll("g.slice").data(pie).enter().append("svg:g").attr("class", "slice");
  arcs.append("svg:path")
      .attr("fill", function(d, i){return aColor[i];})
      .attr("d", function (d) {return arc(d);})
  ;

  // Add the text
  arcs.append("svg:text")
      .attr("transform", function(d){
          d.innerRadius = 100;
          d.outerRadius = r;
          return "translate(" + arc.centroid(d) + ")";}
      )
      .attr("text-anchor", "middle")
      .text( function(d, i) {return data[i].label;})
  ;
</script>
{% endblock %}
