{% extends "layout.html" %}
{% block body %}
<script src="http://d3js.org/d3.v3.min.js"></script>
<div id="tot">
</div>

<script>
	var w = 600,                        //width
	    h = 600,                            //height
	    r = 300,                            //radius
	    color = d3.scale.category20c();     //builtin range of colors

	data = [{% for customer in quotes['customers'] %}{"label":"{{ customer }}", "value": {{ quotes['customer_total'][customer] }}},{% endfor %}{"label":" ", "value": 0}];

  var vis = d3.select("#tot")
      .append("svg:svg")              //create the SVG element inside the <body>
      .data([data])                   //associate our data with the document
          .attr("width", w)           //set the width and height of our visualization (these will be attributes of the <svg> tag
          .attr("height", h)
      .append("svg:g")                //make a group to hold our pie chart
          .attr("transform", "translate(" + r + "," + r + ")")    //move the center of the pie chart from 0, 0 to radius, radius

  var arc = d3.svg.arc()              //this will create <path> elements for us using arc data
      .outerRadius(r);

  var pie = d3.layout.pie()           //this will create arc data for us given a list of values
      .value(function(d) { return d.value; });    //we must tell it out to access the value of each element in our data array
	console.log(data)
</script>
{% endblock %}
